<html>
<head>
	<meta charset="utf-8">
	<title>CC Hangman!</title>
	<style type="text/css" media="screen">
		#word {
		    letter-spacing: 6px;
		}	
	</style>
</head>
<body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/document-register-element/1.4.1/document-register-element.js"></script>

	<p>
		<pre>Webcome to CC-Hangman!</pre>	
	</p>
	
	
		<div id="game">
			
			<div>
				<button v-on:click="startGame()">Start</button>
				<button v-on:click="reloadList()">Load Games</button>
			</div>

			<div>
				<h1 id="word">{{game_message.word}}</h1>
				<h2>{{game_message.message}}</h2>
				<h3>Remaining life: {{game_message.lifeCount}}</h3>
			</div>
			
			
			<div>
				<form v-on:submit.prevent="guessLetter(letter)">
				<p>
					<input type="text" v-model="letter.char" maxlength="1"/>
					<button id="guess" >Guess</button>		
				</p>
				</form>
			</div>
			
			<div>
				<ul>
					<li v-for="game in games">
						<span>{{game.index}} - {{game.word}} - {{game.status}} - {{game.lifeCount}}</span>
						<button v-if="!game.finished" v-on:click="resumeGame(game.index)">Resume</button>
					</li>
				</ul>
			</div>
		</div>
	

	
		

		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script> -->
		<script src="vendor/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="vendor/js.cookie.js"></script>

		<script src="app.js"></script>
	
	  
</body>

</html>